#root {
  text-align: left;
}

.pagination-container {
  margin: 20px;
  display: flex;
  justify-content: center;
}

.modal-container {
  margin: 20px;
  display: grid;
  place-items: center;
}

.number-of-records {
  margin: 20px;
}
